body{
    background-color: aqua;
   
}
p{
    text-align: justify;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: right;
    border-left: 250px;
}
h1{
    width: 100%;
    text-align: justify;
    text-align: right;
    padding: right;
    margin-right: 100px;
}
button{
    background-color: brown;
    width: 200px;
    height: 100px;
}
button:hover{
    width: 250px;
    height: 150px;
    background-color: #595959;
    font-weight: bolder;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: left;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
}
li{
    display: inline;
}
#keret{
    display: inline-block;
    vertical-align:top;
    background-color: blue;
    width: 300px;
    height: 100%;
    position: fixed;
}
