body{
    background-color: aqua;
}
p{
    text-align: justify;
    display: inline-block;
}
button{
    background-color: brown;
    font-size: medium;
}
button:hover{
    font-size: larger;
    background-color: #595959;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 400px;
}
li{
    display: inline;
}
#keret{
    display: inline-block;
    vertical-align:top;
    background-color: blue;
    width: 650px;
    height: 27px;
    position: fixed;
}
